@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.abacus-logo-size {
    font-size: 1.375vw;
}

.abacus-banner-title {
    font-size: 3vw;
}

.abacus-banner-description {
    font-size: 1vw;
}

.abacus-btn-primary {
    background-color: #FFFFFF;
    color: #3F87F5;
    padding: 10px 44px;
}